In [1]:
import pandas as pd

In [274]:
df = pd.read_csv("./data/time_series_covid19_confirmed_global.csv")
df

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/11/22,5/12/22,5/13/22,5/14/22,5/15/22,5/16/22,5/17/22,5/18/22,5/19/22,5/20/22
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,179131,179169,179203,179242,179267,179321,179328,179477,179597,179624
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,275440,275485,275534,275574,275615,275621,275688,275732,275732,275732
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,265806,265808,265814,265816,265818,265823,265828,265834,265841,265847
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,41717,42156,42156,42156,42156,42156,42156,42572,42572,42572
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,99287,99287,99287,99287,99287,99287,99287,99287,99287,99287
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,657193,657193,657193,657193,657193,657329,657456,657456,657456,657456
281,NaN,Winter Olympics 2022,39.904200,116.407400,0,0,0,0,0,0,...,535,535,535,535,535,535,535,535,535,535
282,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,11819,11819,11819,11819,11819,11819,11819,11819,11819,11819
283,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,320303,320412,320481,320591,320627,320680,320680,320680,320945,320945
284,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,248642,248943,249131,249206,249206,249431,249748,250007,250206,250469

In [294]:
df_location = df.loc[df["Country/Region"] == "Germany"]
country_iso_alpha2 = "de"
data_type = "confirmed_cases"
df_location = df_location.transpose()
df_location

                      135
Province/State        NaN
Country/Region    Germany
Lat             51.165691
Long            10.451526
1/22/20                 0
...                   ...
5/16/22          25818405
5/17/22          25890456
5/18/22          25949175
5/19/22          25998085
5/20/22          26040460

[854 rows x 1 columns]

In [295]:
df_location.reset_index(inplace=True)
#df_location.drop(columns=[120, 121, 122, 123, 124, 125, 126, 127, 128, 129,130], inplace=True)
df_location

              index        135
0    Province/State        NaN
1    Country/Region    Germany
2               Lat  51.165691
3              Long  10.451526
4           1/22/20          0
..              ...        ...
849         5/16/22   25818405
850         5/17/22   25890456
851         5/18/22   25949175
852         5/19/22   25998085
853         5/20/22   26040460

[854 rows x 2 columns]

In [296]:
df_location.rename(columns={'index' : 'ds', 239 : 'y'}, inplace=True)
df_location.head()

               ds        135
0  Province/State        NaN
1  Country/Region    Germany
2             Lat  51.165691
3            Long  10.451526
4         1/22/20          0

In [297]:
df_location.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 854 entries, 0 to 853
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ds      854 non-null    object
 1   135     853 non-null    object
dtypes: object(2)
memory usage: 13.5+ KB

In [298]:
df_location

                 ds        135
0    Province/State        NaN
1    Country/Region    Germany
2               Lat  51.165691
3              Long  10.451526
4           1/22/20          0
..              ...        ...
849         5/16/22   25818405
850         5/17/22   25890456
851         5/18/22   25949175
852         5/19/22   25998085
853         5/20/22   26040460

[854 rows x 2 columns]

In [299]:
df_location.drop(df_location.index[0:4], axis=0, inplace=True)

In [300]:
df_location['ds'] = pd.to_datetime(df_location['ds'])

In [301]:
df_location

            ds       135
4   2020-01-22         0
5   2020-01-23         0
6   2020-01-24         0
7   2020-01-25         0
8   2020-01-26         0
..         ...       ...
849 2022-05-16  25818405
850 2022-05-17  25890456
851 2022-05-18  25949175
852 2022-05-19  25998085
853 2022-05-20  26040460

[850 rows x 2 columns]

In [302]:
df_location.to_csv('/home/vladimir/GoogleDrive/Courses/03Third_semester/projects/dsa-project/data/data20_q1/' + country_iso_alpha2 + '_' + data_type + '.csv', index=False)

In [103]:
df = pd.DataFrame(columns=["Country"])
df

Empty DataFrame
Columns: [Country]
Index: []

In [104]:
df_confirmed = pd.read_csv("data/data20_q1/us_confirmed_cases.csv")
df_recovered = pd.read_csv("data/data20_q1/us_recovered_cases.csv")
df_deaths = pd.read_csv("data/data20_q1/us_death_cases.csv")

In [105]:
df = pd.concat([df, df_confirmed, df_recovered, df_deaths], axis=1, ignore_index=True)
df

       0           1         2           3  4           5        6
0    NaN  2020-01-22         1  2020-01-22  0  2020-01-22        0
1    NaN  2020-01-23         1  2020-01-23  0  2020-01-23        0
2    NaN  2020-01-24         2  2020-01-24  0  2020-01-24        0
3    NaN  2020-01-25         2  2020-01-25  0  2020-01-25        0
4    NaN  2020-01-26         5  2020-01-26  0  2020-01-26        0
..   ...         ...       ...         ... ..         ...      ...
845  NaN  2022-05-16  82630509  2022-05-16  0  2022-05-16   999979
846  NaN  2022-05-17  82742996  2022-05-17  0  2022-05-17  1000326
847  NaN  2022-05-18  82951379  2022-05-18  0  2022-05-18  1001269
848  NaN  2022-05-19  83060959  2022-05-19  0  2022-05-19  1001606
849  NaN  2022-05-20  83237592  2022-05-20  0  2022-05-20  1002020

[850 rows x 7 columns]

In [106]:
df.drop(df.columns[[3, 5]], axis=1, inplace=True)
df

       0           1         2  4        6
0    NaN  2020-01-22         1  0        0
1    NaN  2020-01-23         1  0        0
2    NaN  2020-01-24         2  0        0
3    NaN  2020-01-25         2  0        0
4    NaN  2020-01-26         5  0        0
..   ...         ...       ... ..      ...
845  NaN  2022-05-16  82630509  0   999979
846  NaN  2022-05-17  82742996  0  1000326
847  NaN  2022-05-18  82951379  0  1001269
848  NaN  2022-05-19  83060959  0  1001606
849  NaN  2022-05-20  83237592  0  1002020

[850 rows x 5 columns]

In [107]:
df.columns = ["Country", "Date", "Confirmed", "Recovered", "Deaths"]
df["Country"] = "United States"
df

           Country        Date  Confirmed  Recovered   Deaths
0    United States  2020-01-22          1          0        0
1    United States  2020-01-23          1          0        0
2    United States  2020-01-24          2          0        0
3    United States  2020-01-25          2          0        0
4    United States  2020-01-26          5          0        0
..             ...         ...        ...        ...      ...
845  United States  2022-05-16   82630509          0   999979
846  United States  2022-05-17   82742996          0  1000326
847  United States  2022-05-18   82951379          0  1001269
848  United States  2022-05-19   83060959          0  1001606
849  United States  2022-05-20   83237592          0  1002020

[850 rows x 5 columns]

In [108]:
df.to_csv('/home/vladimir/GoogleDrive/Courses/03Third_semester/projects/dsa-project/data/data20_q1/' 'us_data.csv', index=False)

In [115]:
df_de = pd.read_csv("data/data20_q1/de_data.csv")
df_es = pd.read_csv("data/data20_q1/es_data.csv")
df_fr = pd.read_csv("data/data20_q1/fr_data.csv")
df_in = pd.read_csv("data/data20_q1/in_data.csv")
df_it = pd.read_csv("data/data20_q1/it_data.csv")
df_ru = pd.read_csv("data/data20_q1/ru_data.csv")
df_tr = pd.read_csv("data/data20_q1/tr_data.csv")
df_us = pd.read_csv("data/data20_q1/us_data.csv")

In [116]:
df = pd.concat([df_de, df_es, df_fr, df_in, df_it, df_ru, df_tr, df_us], ignore_index=True)
df

            Country        Date  Confirmed  Recovered   Deaths
0           Germany  2020-01-22          0          0        0
1           Germany  2020-01-23          0          0        0
2           Germany  2020-01-24          0          0        0
3           Germany  2020-01-25          0          0        0
4           Germany  2020-01-26          0          0        0
...             ...         ...        ...        ...      ...
6795  United States  2022-05-16   82630509          0   999979
6796  United States  2022-05-17   82742996          0  1000326
6797  United States  2022-05-18   82951379          0  1001269
6798  United States  2022-05-19   83060959          0  1001606
6799  United States  2022-05-20   83237592          0  1002020

[6800 rows x 5 columns]

In [117]:
df.to_csv('/home/vladimir/GoogleDrive/Courses/03Third_semester/projects/dsa-project/data/data20_q1/' 'data.csv', index=False)